In [ ]:
import os
import json
import numpy as np
import pandas as pd

# Access data using Google BigQuery.
from google.colab import auth
from google.cloud import bigquery

In [ ]:
# Set up OpenAI dependency
!pip install tiktoken
!pip install --upgrade openai
import openai
os.environ['OPENAI_API_KEY'] = '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'
openai.api_key = os.getenv("OPENAI_API_KEY")
openai.Model.list()

In [ ]:
# Create basic completion function
def turbo_completion(prompt, has_system=False):
    reply = ""
    system_message = f"""
As a medical assistant chatbot, you're tasked to critically analyze medical students' treatments using high-level reasoning:
What-if: Predict potential treatment outcomes.
Why-not: Critique and find flaws in treatment plans.
So-what: Assess treatment relevance and impact.
How-about: Suggest alternate treatment solutions.

Responses should follow this format and do not include any unrelated contents:
What-if:

Why-not:

So-what:

How-about:

Real patient info (gender, age, race, temperature, blood test, heart rhythm, medication...) is provided, including time stamps. Use this to pinpoint possible treatment errors and always reference it, considering the timeline of events.

Ensure accuracy, as these insights will be important learning resources for medical students. Pay close attention to the time stamp when giving feedback.
    """
    if not has_system:
        messages=[{"role": "user", "content": prompt}]
    else:
        messages=[
          {"role": "system", "content": system_message},
          {"role": "user", "content": prompt}
    ]
    completion = ""
    max_retry = 5
    retry = 0
    try:
      completion = openai.ChatCompletion.create(
          model="gpt-3.5-turbo",
          messages=messages,
          temperature=0,
          max_tokens=512,
      )
      reply = completion.choices[0].message['content']
    except Exception as overload:
      retry += 1
      if retry >= max_retry:
          return "turbo error: %s" %overload
    return reply

In [ ]:
# Authenticate user to get access to mimiciv databse
auth.authenticate_user()

In [ ]:
# Set up environment variables
project_id = 'striking-pipe-360404'
if project_id == 'CHANGE-ME':
  raise ValueError('You must change project_id to your GCP project.')
os.environ["GOOGLE_CLOUD_PROJECT"] = project_id

In [ ]:
# Read data from BigQuery into pandas dataframes.
def run_query(query, project_id=project_id):
  return pd.io.gbq.read_gbq(
      query,
      project_id=project_id,
      dialect='standard')

1. General

  (1) gender

  (2) age

  (3) race

  (4) admission type

  (5) transfer history

In [ ]:
# Fetch general info of the patient
def fetch_general_info(subject_id, hadm_id):
  query = f"""
  SELECT patient.gender,
        patient.anchor_age as age,
        admit.race,
        patient.anchor_year_group as time_range,
        admit.admittime,
        admit.admission_type,
        admit.dischtime
  FROM `physionet-data.mimiciv_hosp.patients` AS patient
  INNER JOIN `physionet-data.mimiciv_hosp.admissions` AS admit
    ON admit.subject_id = patient.subject_id
  WHERE patient.subject_id = {subject_id}
  AND admit.hadm_id = {hadm_id}
  """
  df = run_query(query)
  general_info = f"""
  (1) gender: {df.loc[0, "gender"]}
  (2) age: {df.loc[0, "age"]}
  (3) race: {df.loc[0, "race"]}
  (4) admission type: {df.loc[0, "admission_type"]}
  (5) admit time: {df.loc[0, "admittime"]}
  (6) discharge time: {df.loc[0, "dischtime"]}
  """
  return general_info

print(fetch_general_info(14067132, 26013911))

  (1) gender: M
  (2) age: 71
  (3) race: WHITE
  (4) admission type: OBSERVATION ADMIT
  (5) admit time: 2139-08-25 04:50:00
  (6) discharge time: 2139-08-29 16:50:00

In [ ]:
# Fetch transfer history
def fetch_transfer_hostory(subject_id, hadm_id):
  transfer_history = "(7) transfer history: "
  query = f"""
  SELECT admit.admittime,
       admit.admission_type,
       transfer.eventtype,
       transfer.careunit,
       transfer.intime,
       transfer.outtime
  FROM `physionet-data.mimiciv_hosp.admissions` AS admit
  INNER JOIN `physionet-data.mimiciv_hosp.transfers` AS transfer
    ON transfer.subject_id = admit.subject_id
    AND transfer.hadm_id = admit.hadm_id
  WHERE admit.subject_id = {subject_id}
  AND admit.hadm_id = {hadm_id}
  """
  df = run_query(query)
  for index, row in df.iterrows():
    if index == df.index[-1]:
      transfer_history += f"\n{row['intime']}: {row['eventtype']}"
    else:
      transfer_history += f"\n{row['intime']} - {row['outtime']}: \
{row['careunit']}"
  return transfer_history

# print(fetch_transfer_hostory(10169328, 24837691))

2. Medical Data

  (1) heart rate

  (2) blood test

In [ ]:
# Fetch heart rhythm with only subject_id (fetch the latest hadm_id)
def fetch_heart_rate(subject_id):
  query = f"""
  SELECT
    heart.charttime,
    heart.heart_rhythm,
    heart.ectopy_type,
    heart.ectopy_frequency,
    heart.ectopy_type_secondary,
    heart.ectopy_frequency_secondary
  FROM
    `physionet-data.mimiciv_derived.rhythm` AS heart
  INNER JOIN (
    SELECT
        admit.admittime,
        admit.dischtime,
        admit.hadm_id
    FROM
        `physionet-data.mimiciv_hosp.admissions` AS admit
    WHERE
        admit.subject_id = {subject_id}
    ORDER BY
        admit.hadm_id DESC
    LIMIT 1
  ) AS latest_admission
  ON
    heart.subject_id = {subject_id}
    AND heart.charttime >= latest_admission.admittime
    AND heart.charttime <= latest_admission.dischtime
    AND heart.ectopy_type != "None"
    ORDER BY charttime
    LIMIT 24
  """
  df = run_query(query)
  data = df.to_string()
  prompt = f"""
  Here is the csv file for heart rhythm of the patient, pls make a summary, pls
  be accurate and brief without making judgement, just describ the data and
  merge redundant data. Also, do not include any unrelated words, paragraph or
  blank line between each data.
  Pls follow this format (time stamp in format "year-month-date hour:minute:second"):
  start time1-end time1 description
  start time2-end time2 description

  Data:
  {data}
  """
  heart_rate_completion = "(1) heart rate: \n" + turbo_completion(prompt)
  return heart_rate_completion

# print(fetch_heart_rate(10012853))

In [ ]:
# Fetch blood test data
def fetch_blood_data(subject_id, hadm_id):
  query = f"""
  SELECT *
  FROM `physionet-data.mimiciv_derived.complete_blood_count` AS blood
  WHERE blood.subject_id = {subject_id}
  AND blood.hadm_id = {hadm_id}
  ORDER BY blood.charttime
  LIMIT 10
  """
  df = run_query(query)
  # Drop the 'subject_id' and 'hadm_id' columns.
  df = df.drop(['subject_id', 'hadm_id', 'specimen_id'], axis=1)
  blood_test = "(2) blood test: \n" + df.to_string(index=False)
  return blood_test

# print(fetch_blood_data(10012853, 26369609))

3. ICU data (Vitalsign & Sofa)

In [ ]:
# Fetch ICU data
def fetch_icu(subject_id, hadm_id):
  vital_sign = "(1) vitalsign & sofa"
  # Not every hadm_id has ICU stay. For example, 26369609 doesn't have one.
  query = f"""
  SELECT icu.hadm_id,
       sign.charttime,
       sign.sbp,
       sign.dbp,
       sign.mbp,
       sign.sbp_ni,
       sign.dbp_ni,
       sign.mbp_ni,
       sign.resp_rate,
       sign.temperature,
       sign.temperature_site,
       sign.spo2,
       sofa.cardiovascular,
       sofa.cns,
       sofa.renal,
       sofa.respiration_24hours,
       sofa.coagulation_24hours,
       sofa.liver_24hours,
       sofa.cns_24hours,
       sofa.renal_24hours,
       sofa.sofa_24hours
  FROM `physionet-data.mimiciv_derived.vitalsign` AS sign
  INNER JOIN `physionet-data.mimiciv_derived.sofa` AS sofa
        ON sofa.stay_id = sign.stay_id
  INNER JOIN `physionet-data.mimiciv_icu.icustays`AS icu
        ON icu.stay_id = sign.stay_id
  WHERE sign.subject_id = {subject_id}
  -- AND icu.hadm_id = {hadm_id}
  AND sign.temperature is not null
  AND sign.sbp is not null
  AND sofa.gcs_min is not null
  LIMIT 1
  """
  df = run_query(query)
  if df.empty:
    return None
  for term, value in df.iloc[0].items():
    if term != "hadm_id":
      vital_sign += f"\n{term}: {value}"
  return vital_sign

# print(fetch_icu(10169328, 24837691))

Physian diagnosis

In [ ]:
# Fetch physian's diagnosis
def fetch_diagnosis(subject_id, hadm_id):
  diagnosis = ""
  # Combine diagnosis with the same drg code.
  query = f"""
  WITH numbered_rows AS (
  SELECT diag.*,
         code.long_title,
         drg.drg_type,
         drg.drg_code,
         drg.description,
         drg.drg_severity,
         drg.drg_mortality,
         ROW_NUMBER() OVER(PARTITION BY drg.drg_code ORDER BY diag.seq_num ASC) as row_num
  FROM `physionet-data.mimiciv_hosp.diagnoses_icd` AS diag
  INNER JOIN `physionet-data.mimiciv_hosp.d_icd_diagnoses` AS code
    ON diag.icd_code = code.icd_code
    AND diag.icd_version = code.icd_version
  INNER JOIN `physionet-data.mimiciv_hosp.drgcodes` AS drg
    ON diag.subject_id = drg.subject_id
    AND diag.hadm_id = drg.hadm_id
  WHERE diag.subject_id = {subject_id}
  AND diag.hadm_id = {hadm_id}
  )

  SELECT subject_id,
        hadm_id,
        seq_num,
        icd_code,
        icd_version,
        long_title,
        drg_type,
        drg_code,
        description,
        drg_severity,
        drg_mortality
  FROM numbered_rows
  WHERE row_num = 1
  """
  df = run_query(query)
  if df.empty:
    return None
  for index, row in df.iterrows():
    diagnosis += f"\n{index + 1}. {row['long_title']}\n   drg_type: {row['drg_type']}\
\n   description: {row['description']}\n   drg_severity: {row['drg_severity']}\n   \
drg_mortality: {row['drg_mortality']}"
  return diagnosis

# fetch_diagnosis(19786724, 25413422)

Medication

In [ ]:
# Fetch medication
def fetch_medication(subject_id, hadm_id):
  query = f"""
  SELECT admit.subject_id,
       admit.hadm_id,
       admit.admittime,
       admit.dischtime,
       admit.admission_location,
       admit.discharge_location,
       diag.icd_code,
       diag.icd_version,
       code.long_title,
       emar.emar_id,
       emar.emar_seq,
       emar.event_txt,
       emar_detail.dose_given,
       emar_detail.dose_given_unit,
       emar_detail.product_amount_given,
       emar_detail.product_unit,
       emar_detail.product_code,
       emar_detail.product_description,
       phar.pharmacy_id,
       phar.starttime,
       phar.stoptime,
       phar.medication,
       phar.proc_type,
       phar.status,
       phar.verifiedtime,
       phar.route,
       phar.frequency,
       phar.disp_sched,
       phar.doses_per_24_hrs,
       phar.duration,
       phar.duration_interval,
       phar.expiration_value,
       phar.expiration_unit,
       phar.expirationdate,
  FROM `physionet-data.mimiciv_hosp.admissions` AS admit
  INNER JOIN `physionet-data.mimiciv_hosp.diagnoses_icd` AS diag
    ON admit.subject_id = diag.subject_id
    AND admit.hadm_id = diag.hadm_id
  INNER JOIN `physionet-data.mimiciv_hosp.d_icd_diagnoses` AS code
    ON diag.icd_code = code.icd_code
    AND diag.icd_version = code.icd_version
  INNER JOIN `physionet-data.mimiciv_hosp.emar` AS emar
    ON diag.subject_id = emar.subject_id
    AND diag.hadm_id = emar.hadm_id
  INNER JOIN `physionet-data.mimiciv_hosp.emar_detail` AS emar_detail
    ON diag.subject_id = emar_detail.subject_id
    AND emar.emar_id = emar_detail.emar_id
  INNER JOIN `physionet-data.mimiciv_hosp.pharmacy` AS phar
    ON emar.pharmacy_id = phar.pharmacy_id
  WHERE admit.subject_id = {subject_id}
  AND admit.hadm_id = {hadm_id}
  AND diag.seq_num = 1
  AND emar_detail.dose_given is not null
  ORDER BY emar.emar_seq ASC
  LIMIT 10
  """
  df = run_query(query)
  if df.empty:
    return None
  prompt = f"""
  Here is the csv data describing medication that taken by the patient. \
  Pls make a list of all medication he took, you can merge the same product in \
  same emar_seq. Remember to show the time dimension also ( using "starttime" \
  and "stoptime"). The answer should be pure list of medication info without any \
  other extra paragrap or unrelated text.
  Data:
  {df.to_string()}
  """
  return turbo_completion(prompt)

# fetch_medication(18746308, 28577457)

Merge all medical data of the patient

In [ ]:
def merge(subject_id, hadm_id):
  patient_info = ""
  # 1. General
  #    (1) gender
  #    (2) age
  #    (3) race
  #    (4) admission type
  #    (5) transfer history
  general4 = fetch_general_info(subject_id, hadm_id)
  transfer_history = fetch_transfer_hostory(subject_id, hadm_id)
  # 2. Medical Data
  #    (1) blood test
  #    (2) heart rate
  blood_test = fetch_blood_data(subject_id, hadm_id)

  diagnosis = "\n\nPhysician's Diagnoses:" + fetch_diagnosis(subject_id, hadm_id)

  # 3. ICU Data
  #    (1) vitalsign & sofa
  icu_data = fetch_icu(subject_id, hadm_id)

  # check token total amount except for medication and heart_rate
  token_amount = num_tokens_from_string(general4 + transfer_history + blood_test + icu_data + diagnosis)

  if (token_amount <= 980):
    try:
      # Add title for each term
      heart_rate = fetch_heart_rate(subject_id)
      patient_info = "Patient Info:\n1. General" + general4 + transfer_history + "\n\n2. Medical Data\n" \
      + heart_rate + "\n" + blood_test + "\n\n3. icu_data\n" + icu_data
      medication = "\n\nMedication:\n" + fetch_medication(subject_id, hadm_id)
      merged = patient_info + diagnosis + medication
      return merged
    except TypeError as e:
      return None
  else:
    return None

# print(merge(10012853, 27882036))

List all hadm_id (admission hiistory) for the patient (subject_id)

In [ ]:
def get_hadm_ids(subject_id):
  query = f"""
  SELECT DISTINCT Q1.hadm_id
  FROM
  (
    -- Query 1
    WITH numbered_rows AS (
      SELECT diag.hadm_id,
            ROW_NUMBER() OVER(PARTITION BY drg.drg_code ORDER BY diag.seq_num ASC) as row_num
      FROM `physionet-data.mimiciv_hosp.diagnoses_icd` AS diag
      INNER JOIN `physionet-data.mimiciv_hosp.d_icd_diagnoses` AS code
        ON diag.icd_code = code.icd_code
        AND diag.icd_version = code.icd_version
      INNER JOIN `physionet-data.mimiciv_hosp.drgcodes` AS drg
        ON diag.subject_id = drg.subject_id
        AND diag.hadm_id = drg.hadm_id
      WHERE diag.subject_id = 10012853
    )
    SELECT hadm_id
    FROM numbered_rows
    WHERE row_num = 1
  ) AS Q1
  INNER JOIN
  (
    -- Query 2
    SELECT DISTINCT admit.hadm_id
    FROM `physionet-data.mimiciv_hosp.admissions` AS admit
    INNER JOIN `physionet-data.mimiciv_hosp.diagnoses_icd` AS diag
      ON admit.subject_id = diag.subject_id
      AND admit.hadm_id = diag.hadm_id
    INNER JOIN `physionet-data.mimiciv_hosp.d_icd_diagnoses` AS code
      ON diag.icd_code = code.icd_code
      AND diag.icd_version = code.icd_version
    INNER JOIN `physionet-data.mimiciv_hosp.emar` AS emar
      ON diag.subject_id = emar.subject_id
      AND diag.hadm_id = emar.hadm_id
    INNER JOIN `physionet-data.mimiciv_hosp.emar_detail` AS emar_detail
      ON diag.subject_id = emar_detail.subject_id
      AND emar.emar_id = emar_detail.emar_id
    INNER JOIN `physionet-data.mimiciv_hosp.pharmacy` AS phar
      ON emar.pharmacy_id = phar.pharmacy_id
    WHERE admit.subject_id = {subject_id}
    AND diag.seq_num = 1
    AND emar_detail.dose_given is not null
  ) AS Q2
  ON Q1.hadm_id = Q2.hadm_id
  """
  df = run_query(query)
  hadm_id_list = df['hadm_id'].tolist()
  return hadm_id_list
# get_hadm_ids(10012853)

In [ ]:
from google.colab import drive
drive.mount('/content/gdrive')

Mounted at /content/gdrive

In [ ]:
def get_valid_pairs():
  query = f"""
  WITH query1 AS (
  SELECT diag.subject_id,
         diag.hadm_id
  FROM `physionet-data.mimiciv_hosp.diagnoses_icd` AS diag
  INNER JOIN `physionet-data.mimiciv_hosp.d_icd_diagnoses` AS code
    ON diag.icd_code = code.icd_code
    AND diag.icd_version = code.icd_version
  INNER JOIN `physionet-data.mimiciv_hosp.drgcodes` AS drg
    ON diag.subject_id = drg.subject_id
    AND diag.hadm_id = drg.hadm_id
  WHERE diag.seq_num = 1
  GROUP BY diag.subject_id, diag.hadm_id
  ),
  query2 AS (
    SELECT admit.subject_id,
          admit.hadm_id
    FROM `physionet-data.mimiciv_hosp.admissions` AS admit
    INNER JOIN `physionet-data.mimiciv_hosp.diagnoses_icd` AS diag
      ON admit.subject_id = diag.subject_id
      AND admit.hadm_id = diag.hadm_id
    INNER JOIN `physionet-data.mimiciv_hosp.emar` AS emar
      ON diag.subject_id = emar.subject_id
      AND diag.hadm_id = emar.hadm_id
    INNER JOIN `physionet-data.mimiciv_hosp.emar_detail` AS emar_detail
      ON diag.subject_id = emar_detail.subject_id
      AND emar.emar_id = emar_detail.emar_id
    WHERE emar_detail.dose_given is not null
    GROUP BY admit.subject_id, admit.hadm_id
  ),
  query3 AS (
    SELECT sign.subject_id,
          icu.hadm_id
    FROM `physionet-data.mimiciv_derived.vitalsign` AS sign
    INNER JOIN `physionet-data.mimiciv_derived.sofa` AS sofa
          ON sofa.stay_id = sign.stay_id
    INNER JOIN `physionet-data.mimiciv_icu.icustays`AS icu
          ON icu.stay_id = sign.stay_id
    WHERE sign.temperature is not null
    AND sign.sbp is not null
    AND sofa.gcs_min is not null
    GROUP BY sign.subject_id, icu.hadm_id
  )
  SELECT q1.subject_id,
        q1.hadm_id
  FROM query1 AS q1
  INNER JOIN query2 AS q2
    ON q1.subject_id = q2.subject_id
    AND q1.hadm_id = q2.hadm_id
  INNER JOIN query3 AS q3
    ON q1.subject_id = q3.subject_id
    AND q1.hadm_id = q3.hadm_id
  ORDER BY RAND()
  LIMIT 800;
  """
  df = run_query(query)
  pairs = df.values.tolist()
  return pairs

In [ ]:
def get_exist_pairs():
    files = os.listdir('/content/gdrive/My Drive/patient_info')
    id_pairs = []

    for file in files:
        if file.endswith(".txt"):
            subject_id, hadm_id = os.path.splitext(file)[0].split('_')
            id_pairs.append([int(subject_id), int(hadm_id)])

    return id_pairs

# get_exist_pairs()

In [ ]:
def create_patient_stories():
  valid_pairs = get_valid_pairs()
  exist_pairs = get_exist_pairs()
  count = 0
  for pair in valid_pairs:
    if pair not in exist_pairs:
      subject_id = pair[0]
      hadm_id = pair[1]
      merged = merge(subject_id, hadm_id)
      if merged is not None and num_tokens_from_string(merged) <= 1536:
        save_txt(f'patient_info_reduced/{subject_id}_{hadm_id}.txt', merged)
        count += 1
        print(f"{count}: {subject_id}, {hadm_id}")
      else:
        print(f'{subject_id}_{hadm_id} info too long')
create_patient_stories()

# [16108210, 23482334]
# [10838580, 22749412]

In [ ]:
def delete_large_files(folder_path, size):
    # Size is in KB
    files = os.listdir(folder_path)

    for file in files:
        file_path = os.path.join(folder_path, file)

        if os.path.isfile(file_path):
            file_size = os.path.getsize(file_path)

            # file_size is in bytes, so 10 KB is 10240 bytes
            if file_size > 1024 * size:
                os.remove(file_path)
delete_large_files('/content/gdrive/My Drive/patient_info', 10)

In [ ]:
root_path = '/content/gdrive/My Drive/'

def read_file(file_path):
    with open(root_path + file_path, 'r', encoding='utf-8') as infile:
        return infile.read()

def read_json_file(file_path):
    # Open and read the JSON file
    with open(root_path + file_path, 'r') as file:
        # Parse the contents of the file into a Python list of dictionaries
        data = json.load(file)
    return data

def save_json(file_path, content):
    with open(root_path + file_path, 'w') as outfile:
        json.dump(content, outfile)

def save_txt(file_path, content):
    with open(root_path + file_path, 'w') as outfile:
        outfile.write(content)

filtered_dataset = read_json_file("merged_reduced.json")
num_tokens_from_string(str(filtered_dataset))

457506

In [ ]:
def synthesis_dataset():
    dataset = []
    files = os.listdir(root_path + 'patient_info_reduced')
    for file in files:
        if file.endswith(".txt"):
            file_path = 'patient_info_reduced/' + file
            prompt = read_file(file_path)
            completion = turbo_completion(prompt, True)
            # save into another folder for reference
            save_txt(f'synthesize_dataset/{file}',
                     f'PROMPT:\n{prompt}\n\n\nCOMPLETION:\n{completion}')

            # save each pair of prompt and completion into a dictionary
            data = {
                'prompt': prompt,
                'completion': completion,
            }
            dataset.append(data)
            save_json(f"fine_tune_datasets_reduced/{file.replace('.txt', '.json')}", data)
            print(f'{file} is saved')
    save_json('final_dataset.json', dataset)

synthesis_dataset()

In [ ]:
import tiktoken

def num_tokens_from_string(string: str, encoding_name="cl100k_base") -> int:
    """Returns the number of tokens in a text string."""
    encoding = tiktoken.get_encoding(encoding_name)
    num_tokens = len(encoding.encode(string))
    return num_tokens

In [ ]:
datasets = read_json_file('final_dataset.json')
filtered_dataset = []
for dataset in datasets:
    total_string = dataset['prompt'] + dataset['completion']
    token_amount = num_tokens_from_string(total_string)
    if token_amount <= 2048:
        filtered_dataset.append(dataset)
        print("append")
save_json('filtered_dataset.json', filtered_dataset)

In [ ]:
old_reduced = read_json_file('filtered_dataset.json')
files = os.listdir(root_path + 'fine_tune_datasets_reduced')
for file in files:
    new_data = read_json_file('fine_tune_datasets_reduced/' + file)
    old_reduced.append(new_data)
save_json('merged_reduced.json', old_reduced)

In [ ]:
datasets = read_json_file('merged_reduced.json')
token_count = 0
for data in datasets:
    total_string = data['prompt'] + data['completion']
    num_tokens = num_tokens_from_string(total_string)
    token_count += num_tokens
    if num_tokens >= 2048:
        print(data['prompt'][:100])
        print('\n===========================\n\n')

print(f'Total amount of token is: {token_count}')
print(f'Esitimated cost of Ada is: {token_count * 0.0004 / 1000}')
print(f'Esitimated cost of Curie is: {token_count * 0.003 / 1000}')
print(f'Esitimated cost of Davinci is: {token_count * 0.03 / 1000}')

Total amount of token is: 447717
Esitimated cost of Ada is: 0.17908680000000002
Esitimated cost of Curie is: 1.343151
Esitimated cost of Davinci is: 13.43151

In [ ]:
!openai tools fine_tunes.prepare_data -f '/content/gdrive/My Drive/merged_reduced.json'

In [ ]:
# !openai api fine_tunes.create -t "/content/gdrive/My Drive/filtered_dataset_prepared.jsonl" -m ada --suffix "ada_medical_0630"

Upload progress: 100% 677k/677k [00:00<00:00, 684Mit/s]
Uploaded file from /content/gdrive/My Drive/filtered_dataset_prepared.jsonl: file-qKgzkF5akpFs22Yf4WABc1Xs
Created fine-tune: ft-6Xk8aDBhP5LeTx0yMvPlvI7j
Streaming events until fine-tuning is complete...

(Ctrl-C will interrupt the stream, but not cancel the fine-tune)
[2023-06-30 15:37:21] Created fine-tune: ft-6Xk8aDBhP5LeTx0yMvPlvI7j

In [ ]:
!openai api fine_tunes.follow -i ft-KfsMh87ZF5L4mUAgEWQ0gu58

[2023-07-01 00:09:56] Created fine-tune: ft-KfsMh87ZF5L4mUAgEWQ0gu58
[2023-07-01 01:24:10] Fine-tune failed. Fine-tune will exceed billing hard limit

Job failed. Please contact us through our help center at help.openai.com if you need assistance.

In [ ]:
!openai api fine_tunes.create -t "/content/gdrive/My Drive/merged_reduced_prepared.jsonl" -m davinci --suffix "davinci_medical_0717" --n_epochs 1

Found potentially duplicated files with name 'merged_reduced_prepared.jsonl', purpose 'fine-tune' and size 1162643 bytes
file-sj7N4yUm4Cxyza52NoMYCjEz
file-SW2z69xELJOknqesE9ifI0XR
Enter file ID to reuse an already uploaded file, or an empty string to upload this file anyway:
Upload progress: 100% 1.16M/1.16M [00:00<00:00, 1.70Git/s]
Uploaded file from /content/gdrive/My Drive/merged_reduced_prepared.jsonl: file-NzJPdLXgtcw4Vmi7b9IUogKp
Created fine-tune: ft-IuRXpiyMUKroXnqXW26gl7su
Streaming events until fine-tuning is complete...

(Ctrl-C will interrupt the stream, but not cancel the fine-tune)
[2023-07-17 01:33:15] Created fine-tune: ft-IuRXpiyMUKroXnqXW26gl7su

Stream interrupted (client disconnected).
To resume the stream, run:

  openai api fine_tunes.follow -i ft-IuRXpiyMUKroXnqXW26gl7su

In [ ]:
!openai api fine_tunes.follow -i ft-IuRXpiyMUKroXnqXW26gl7su

[2023-07-17 01:33:15] Created fine-tune: ft-IuRXpiyMUKroXnqXW26gl7su

Stream interrupted (client disconnected).
To resume the stream, run:

  openai api fine_tunes.follow -i ft-IuRXpiyMUKroXnqXW26gl7su

In [ ]:
openai.FineTune.create(training_file="file-XGinujblHPwGLSztz8cPS8XY")

In [ ]:
# def is_enough_data(sbuject_id, hadm_id):
#   diagnosis = fetch_diagnosis(sbuject_id, hadm_id)
#   medication = fetch_medication(sbuject_id, hadm_id)
#   print(type(diagnosis))
#   print(type(medication))
#   if not diagnosis or not medication:
#     return False
#   return True

# def create_patient_dict():
#   data_num = 0
#   while 1:
#     query = f"""
#     SELECT DISTINCT admit.subject_id
#     FROM `physionet-data.mimiciv_hosp.admissions` AS admit
#     ORDER BY RAND()
#     LIMIT 100
#     """
#     df = run_query(query)
#     subject_id_list = df['subject_id'].tolist()
#     patient_dict = {}
#     for subject_id in subject_id_list:
#       hadm_ids = get_hadm_ids(subject_id)
#       data_num += len(hadm_ids)
#       if hadm_ids:
#         patient_dict[subject_id] = hadm_ids
#       if data_num >= 1:
#         break
#   return patient_dict

# patient_dict = create_patient_dict()
# with open('/content/gdrive/My Drive/patient_info/subject_id&hadm_id.js', 'w') as outfile:
#   json.dump(patient_dict, outfile)

In [ ]:
subject_id = 10012853

In [ ]:
query = f"""
SELECT COUNT(subject_id)
FROM
(
  SELECT subject_id
  FROM `physionet-data.mimiciv_hosp.admissions`
  GROUP BY subject_id
  HAVING COUNT(hadm_id) = 1
)
"""

query = """
SELECT hadm_id, count(*) as n
FROM `physionet-data.mimiciv_hosp.services`
GROUP BY 1
"""

df = run_query(query)
df

         hadm_id  n
0       28979390  1
1       21544441  1
2       26840593  1
3       27012892  2
4       22448043  1
...          ... ..
431226  28089303  1
431227  24525160  1
431228  24230088  1
431229  22086815  1
431230  26998939  1

[431231 rows x 2 columns]

In [ ]:
query = f"""
WITH t1 AS
(
SELECT hadm_id, count(*) as n
FROM `physionet-data.mimiciv_hosp.services`
GROUP BY 1
)
SELECT n AS n_service
, count(*) AS n
FROM t1
GROUP BY 1
ORDER BY 1
"""
df = run_query(query)
df

   n_service       n
0          1  401419
1          2   24490
2          3    4168
3          4     796
4          5     259
5          6      65
6          7      21
7          8       8
8          9       4
9         10       1